
/* ### GENERAL ###  height:float;*/
* { margin: 0px; padding: 0px;}
body { background: #FFFFFF; 
	font:13px Tahoma, Georgia,  Arial, Helvetica, sans-serif; 
	color:#000000; 
	padding:0px 0px 0px 0px; 
	margin:0px 0px 0px 0px;  }

/* ### GLOBAL CLASSES ### */
.clear { clear: both; margin:0px; padding:0px; }


/*  	HEADER CONTAINER    */
#headerCntr { 
	position: relative;  
	float: center;
	height:30px; 
	background:url(./images/page_bg_top_rpt.gif) repeat-x top center; }
	
.headerStyle {padding: 5px 0px 0px 260px;}
.headerStyle a { font-size:12px; color:#FFFFFF; font-weight:bold; text-decoration:none; padding: 5px 20px 5px 20px;}
.headerStyle a:hover {text-decoration:underline;}	

.logo{background:#FFFFFF; padding: 10px 0px 10px 100px;}
#logo{background:#FFFFFF; padding: 15px 0px 10px 80px;}
#container1 {overflow: hidden;  background: #FFFFF;height:160px;}
#logoPic{ position: right; float: right; 
	background:url(./images/red_2.gif) repeat;
	padding: 0px 0px 0px 0px;}
	
		
	/* ### CONTENT CONTAINER ### */
#contentCntrMain { overflow: hidden; float: center; background: url(./images/og_grey.gif) repeat; }
#contentCntr { float: center; overflow: hidden; margin: 0 auto; padding:0px 135px 0px 135px;}


#mainContainer { overflow: hidden; margin: 0 auto; float: center; width:750px;  background:#ffffff ; padding:20px 0px 0px 0px; }
#mainContainer h1{ font:22px Tahoma, Georgia, Arial, Helvetica, sans-serif; color:#DC241F; text-align:center; padding:0px 44px 0px 0px;}
#mainContainer h4{ font:18px Tahoma, Georgia, Arial, Helvetica, sans-serif; color:#7B6E6A; text-align:right; padding:0px 44px 0px 0px;}
#mainContainer h2{ font:14px Tahoma, Georgia, Arial, Helvetica, sans-serif; color:#7B6E6A; font-weight:bold; text-align:left; padding:5px 44px 5px 0px;}
#mainContainer h3{ font:14px Tahoma, Georgia, Arial, Helvetica, sans-serif; color:#DC241F; font-weight:bold; text-align:left; padding:0px 44px 0px 0px;}
#mainContainer h6{ font: Tahoma, Georgia, Arial, Helvetica, sans-serif; text-align:left; }

#mainContainer1 { overflow: hidden; float: left; width:450px; background:#ffffff ; padding:20px 10px 0px 0px; }
#mainContainer1 h1{ font:22px Tahoma, Georgia, Arial, Helvetica, sans-serif; color:#DC241F; text-align:center; padding:0px 44px 0px 0px;}
#mainContainer1 h4{ font:18px Tahoma, Georgia, Arial, Helvetica, sans-serif; color:#7B6E6A; text-align:right; padding:0px 44px 0px 0px;}
#mainContainer1 h2{ font:14px Tahoma, Georgia, Arial, Helvetica, sans-serif; color:#7B6E6A; font-weight:bold; text-align:left; padding:5px 44px 5px 0px;}
#mainContainer1 h3{ font:14px Tahoma, Georgia, Arial, Helvetica, sans-serif; color:#DC241F; font-weight:bold; text-align:left; padding:0px 44px 0px 0px;}
#mainContainer1 h6{ font: Tahoma, Georgia, Arial, Helvetica, sans-serif; text-align:left; }

#mainContainer2 { overflow: hidden; float: right; width:450px; background:#ffffff ; padding:20px 10px 0px 0px; }
#mainContainer2 h1{ font:22px Tahoma, Georgia, Arial, Helvetica, sans-serif; color:#DC241F; text-align:center; padding:0px 44px 0px 0px;}
#mainContainer2 h4{ font:18px Tahoma, Georgia, Arial, Helvetica, sans-serif; color:#7B6E6A; text-align:right; padding:0px 44px 0px 0px;}
#mainContainer2 h2{ font:14px Tahoma, Georgia, Arial, Helvetica, sans-serif; color:#7B6E6A; font-weight:bold; text-align:left; padding:5px 44px 5px 0px;}
#mainContainer2 h3{ font:14px Tahoma, Georgia, Arial, Helvetica, sans-serif; color:#DC241F; font-weight:bold; text-align:left; padding:0px 44px 0px 0px;}
#mainContainer2 h6{ font: Tahoma, Georgia, Arial, Helvetica, sans-serif; text-align:left; }

h1{ font:22px Tahoma, Georgia, Arial, Helvetica, sans-serif; color:#DC241F; text-align:right; padding:0px 44px 0px 0px;}
h4{ font:18px Tahoma, Georgia, Arial, Helvetica, sans-serif; color:#7B6E6A; text-align:right; padding:0px 44px 0px 0px;}
h2{ font:14px Tahoma, Georgia, Arial, Helvetica, sans-serif; color:#7B6E6A; font-weight:bold; text-align:left; padding:5px 44px 5px 0px;}
h3{ font:15px Tahoma, Georgia, Arial, Helvetica, sans-serif; color:#DC241F; font-weight:bold; text-align:left; padding:0px 44px 0px 0px;}
h7{ font:14px Tahoma, Georgia, Arial, Helvetica, sans-serif; color:##9a0000; font-weight:bold; text-align:left; padding:0px 44px 0px 0px;}
h6{font:15px Arial, Helvetica, sans-serif; color:#9a0000; font-weight:bold; padding:0px 0px 5px 0px; margin:0px 0px 10px 0px;}

#h5{font:18px Tahoma, Georgia, Arial, Helvetica, sans-serif; color:#4D4D4D; padding:0px 0px 0px 0px; border-bottom:1px solid #bebebe; margin:0px 0px 0px 0px;}

p{margin: 10px 10px 10px 10px;  padding: 5px 5px;}

.list ul{ padding: 0cm 0cm 0.1cm 1.5cm;}
.list ul li{padding: 0cm 0cm 0.0cm 0cm;}
.list p{ padding: 0cm 0px 0cm 0cm;}
.list img{ padding: 0px 0px -1 0px;}

a{ font-size:13px; color:#ee2e24;  text-decoration:none;  padding:0px 0px 0px 0px;}
a:hover{ text-decoration:underline;}
table {margin: 10px 10px 10px 10px;  padding: 5px 5px 5px 5px;}

.FormTableEnv table{margin: 20px 10px 20px 10px;  padding: 5px 5px 5px 5px;}
.FormTableEnv td{padding:  10px 10px 10px 20px;}

/* ### FOOTER CONTAINER ### */
#footerCntr { overflow: hidden; background:url(./images/red_1.gif) left top repeat-x; height:40px;}
.footerBox{width:659px; margin:0px auto; color:#FFFFFF; text-align:right; padding:10px 120px 0px 0px; height:30px;}
	
	
