{% extends "base.html" %}

{% block title %}3 Charnwood Rd {% endblock %}

{% block content %}

<p style="color: black;  margin: 10px 10px 10px 10px;  padding: 5px 5px;"> You are reading this page because you are one of the 
owners in 3 Charnwood Rd, St Kilda Vic 3182. You have been directed to this website by a letter you have received from
the active members who have decided to fight against Reddie Body Corporate Services. </p>

<p>Due to these <a href="/RBCSgrievances">reasons</a>, a few owners in 3 Charnwood Rd have asked the 
committee to terminate all engagement with our manager Janelle Reddie (now under Reddie Body Corporate Services (RBCS) 
and formerly under Bink & Associates).  </p>

<p>On December 11, 2013, the committee acted upon the request and sent Ms Reddie a termination notice. 
Ms Reddie has refused to step down as a manager. She pointed out that according to our contract agreement, 
her appointment can only be terminated at a general meeting (which she has n’t called yet). </p>

<p>Our last Annual General Meeting (AGM) was September 18, 2012, i.e, it has been more than 15 months since our last AGM. 
According to the rules of OC, AGMs should not be more than 15 months apart. 
Unfortunately, the violation of this rule by Ms Reddie doesn’t give us a right to terminate 
her appointment (a formal complaint about this violation has been lodged with the Consumer Affairs Victoria on January 2, 2014).</p>

<p> In her refusal to step down as a manager, Ms Reddie indicated that she will call an AGM after January 20, 2014 
(most likely in February).  <text style="color: #ee2e24;"> The active members (5 of the 16 owners) have decided to call a 
special general meeting </text> (not awaiting an AGM at Ms Reddie's convenience) to terminate Ms Reddie's appointment.  </p>
<hr/>
<p style="font-weight:bold;"> The special general meeting will take place</p>
<table>
	<tr><td style="font-weight:bold; padding: 3px 7px 3px 5px;"> Date:</td><td> Thursday January 23, 2014</td></tr>
	<tr><td style="font-weight:bold; padding: 3px 7px 3px 5px;"> Time:</td><td> 19:30 </td></tr>
	<tr><td style="font-weight:bold; padding: 3px 7px 3px 5px;"> Venue:</td><td> foyer of 3 Charnwood Rd, St Kilda Vic 3182</td></tr>
	<tr><td style="font-weight:bold; padding: 3px 7px 3px 5px;"> Agenda:</td><td> <a href="/SpecialGeneralMeeting"> change of management</a></td></tr>
</table>
<hr/>
<p style="color:#7B6E6A; font-weight:bold;"> The following documents were mailed to the owners on January 8, 2014:</p>
<table>
	<tr><td style="padding: 3px 7px 3px 5px;"> <a href="/static/RBCSdocuments/LetterToOwners.pdf">A letter to owners</td></tr>
	<tr><td style="padding: 3px 7px 3px 5px;"> <a href="/static/RBCSdocuments/NoticeOfGeneralMeeting.pdf">Notice of meeting</td></tr>
	<tr><td style="padding: 3px 7px 3px 5px;"> <a href="/static/RBCSdocuments/OwnersCorporationProxyForm_3CharnwoodRdStKilda.doc">Proxy form</td></tr>
</table>


{% endblock %}
			
