<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>M&Omega;Pi </title>
	<link rel="shortcut icon" href="/static/images/logo22.gif" type="image/x-icon" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="keywords" content="optimization, optimisation, consultant, project management, process improvement, business analytics, mopi, olena gavriliouk" />	
	<link rel="stylesheet" href="/static/style.css" type="text/css" />
</head>

<body>	
	<!-- / LOGO \  BizCard_small1    logo_title_comment350.gif -->
	<div id="container1">	
	    <div id="logoPic"> <img src="/static/images/OG_Sept2012_100px.gif"  align="right" width="135" border="0" alt="" />	 </div>
		<div id="logo"> <img id="logo" src="/static/images/OlenaG_web_logotype_horiz400.gif" width="390" border="0" alt="" /> 
	 </div>
	</div> 
	
		<!--  HeaderTabs  -->
	<div id="headerCntr">
		<div class="headerStyle"> 
  		</div>
	</div>
			
	<!--  / CONTENT CONTAINER \ -->
	<div id="contentCntrMain">
	 <div id="contentCntr">
		<div id="mainContainer"> 
			In {{city}}, {{country}}  {{current_time}}.
		</div>
			<div class="clear"></div>
			<!--  \ RIGHT CONTAINER / -->

		</div>
		</div>
		<!--  \ CONTENT CONTAINER / -->
		
		
		
	</div>
	<!--  \ MAIN CONTAINER / -->
	<!--  / FOOTER CONTAINER \ -->
		<div id="footerCntr">
			<div class="footerBox">
			Olena Gavriliouk, Ph.D., Business Operations Consultant. All rights reserved.
			</div>
		</div>
		<!--  \ FOOTER CONTAINER / -->
	
</div>
<!--  \ WRAPPER / -->

</body>

</html> 