{% extends "base.html" %}

{% block title %}Grievances{% endblock %}

{% block content %}

<p>As it stands today, owners are yet to have an Annual General Meeting for 2013 (the last AGM was on September 18, 2012) 
and view financial records. Many owners have become frustrated with a lack of action from the Janelle Reddie 
for urgent matters. It is also proven difficult to get a hold of Ms Reddie on email or telephone. 
When contact is made, she appears to be very evasive.</p>

<h3 style="margin: 10px 10px 10px 10px;  padding: 5px 5px;"> A list of grievances against Reddie Body Corporate Services</h3>

    <p> Outlined below, in summary form, are matters that have spurred owners to seek termination:	</p>
		<div class="list">
    	<ul>
        	<li> <p> The front door maintenance and building security was a drawn out saga lasting for many 
        	months and the tradesman RBCS contracted couldn't finish the job even after several attempts. 
        	She contacted an owner on one occasion to see what state the door is in, even though her office was around the corner.
        	</p></li>
        	<li><p>The owner of #14 had requested to RBCS more than a year ago that something should be done about 
        	providing an external bike rack. Nothing has been attempted or communicated, as a result we have bikes 
        	everywhere (including in the hallway on the second floor) in a disorganised manner.
        	</p></li>       	
			<li><p>The owner/tenant of #3 had a malfunctioning heating/cooling unit. RBCS would not release builder's contact details to the owner of #3 until threatened with a VCAT case. 
			In the end, it was a five minute job for tradesman who came and fixed it.
			</p></li>
			<li><p> Ms Reddie promised she would send a letter to all owners/tenants about rubbish and newspapers 
			discarded on the front door. She even flagged installing a bin at the entrance to curb the issue. This never occurred.
			</li></p>
			<li><p>
			Removal of bulk household rubbish left by vacating tenants from the common area, after RBCS failed to respond in any manner, to two emails and a phone message (and a message from our caretaker).
			</p></li>
			<li><p> 
			When requested to provide us with the list of owners (by owners of #1 and #14 in May and June 2013), RBCS ignored the request though it has been made multiple times by multiple owners in written and verbal (phone) requests. (Ms Reddie finally gave the list of owners to the committee when they attempted to terminate her appointment.)
			</p></li>
			<li><p> 
			Ballots were sent to owners in the first years of ownership for a vote on Foxtel being installed, insurance being increased and for a resident who was seeking permission to have an electrical cord weaved through the exterior of their property. Results of votes were never known.
			</p></li>
			<li><p> 
			When residents have had issues with items at the property, like a build-up of mould in bathrooms, malfunctioning products they are told that there was no warranty coverage and owners were responsible for their own apartments despite a standard building warranty and faults that would have been of the builder or trades person.
			</p></li>
			<li><p> 
			The back-roller door continues to be an issue. Despite several residents calling about the door being left open, which is a security risk, no letters were issued to residents. This is despite the door being damaged on several occasions.
			</p></li>
			<li><p> 
			Owners had no idea that Ms Reddie had departed from Binks and Associates until a curious letter was sent to owners of advising of bank detail changes. It was not until an owner called to see what was happening that he was informed there was a legal dispute underway after Ms Reddie was not permitted to run under the name Binks any longer and she left with the franchise’s clients.
			</p></li>
			<li><p> 
			Ms Reddie hasn’t called AGM for over 15 months since the last AGM.
			</p></li>
			<li><p> 
			Ms Reddie almost never returns phone calls/emails in a timely manner. Owners have to keep calling and leaving messages.  Because of the lack of communication on Ms Reddie's part it sometimes takes months to resolve an issue.
			</p></li>
			<li><p> 
    	</ul>
 		</div>
 		 
 		 <br/><hr/> <br/>
 		 
 		 <p> The financial statement from 2011-2012 has been looked over owners have questioned some costs. They include: </p>
		<div class="list">
    	<ul>
			<li><p>
			RBCS charged the body corporate $242.00 for being on a phone with Foxtel. But there Foxtel was never established in our building. (That's under Professional Fees category)
			</p></li>
        	<li><p>
			In addition to her standard fees, RBCS charges 'service' fees. For instance , in Essential Services category on our financial statement from the last AGM, there is a $96.80 fee for 'additional services'. Details of the additional services were not known.
			</p></li>
        	<li><p>
			Professional Fees category there is a charge of $75.00 for 'accreditation of contractors'. Body Corporate managers do not have to hire accredited contractors, as it suffices that contractors have liability insurance.
			</p></li>
        	<li><p>
			The building is over-insured.
			</p></li>
        	<li><p>
			It has been pointed out to us (advice from other independent body corporate manager organisations), that because our building is new, there must have been more than just a three or six-month warranty on items like vehicle gate and front door. Therefore, it is our builder/developer that should have been responsible for paying these fees.
			</p></li>			
    	</ul>
 		</div>
	

{% endblock %}
			
