{% extends "base.html" %}

{% block title %}3 Charnwood Rd {% endblock %}

{% block content %}

<p> During the special general meeting we will discuss a change of management and vote to appoint the new manager. </p>

<p style="font-weight:bold;"> The special general meeting will take place</p>
<table>
	<tr><td style="font-weight:bold; padding: 3px 7px 3px 5px;"> Date:</td><td> Thursday January 23, 2014</td></tr>
	<tr><td style="font-weight:bold; padding: 3px 7px 3px 5px;"> Time:</td><td> 19:30 </td></tr>
	<tr><td style="font-weight:bold; padding: 3px 7px 3px 5px;"> Venue:</td><td> foyer of 3 Charnwood Rd, St Kilda Vic 3182</td></tr>
</table>



<p> We have considered body corp managers that have been recommended. 
We have also compared fees of a few body corp managers to make sure that we are not being overcharged. 
Some of the cheapest "basic fee for attendance to services" are in the range of 2,700-2,800 (per annum). 
The reasonable hourly rate seem to be around 110-120 $/hour. </p>

<p>Based on our research, we present to you two body corp managers to choose from: </p>
<div class="list">
    <ul>
    <li> <p>
	<a target="_blank" href="http://www.mbcmstkilda.com.au">Melbourne Body Corporate Management&mdash;MBCM(St Kilda) </a>
	</p></li>
    <li><p>
	<a target="_blank" href="http://www.binksandassociates.com.au">Binks and Associates Strata Management</a> (also located in St Kilda)
	</p></li>
    </ul>
  </div>  

<p style="color:#7B6E6A; font-weight:bold;"> Here are the quotes from the two possible managers:</p>
<table>
	<tr><td style="padding: 3px 7px 3px 5px;"> <a target="_blank" href="/static/RBCSdocuments/MBCM_Contract_of_Appointment.pdf">MBCM(St Kilda)</td></tr>
	<tr><td style="padding: 3px 7px 3px 5px;"> <a target="_blank" href="/static/RBCSdocuments/BA_Contract_of_Appointment.PDF">Bink and Associates</td></tr>
</table>

<br/> <br/>
{% endblock %}
			
